.classButton{
    width: 11em;
}
.card-body{
    background-color: black;
    color: yellow;
}
input[type='text'],input[type='email']{
    padding: 5px;
    margin: 10px 10px 10px 0;
    border-radius: 7px;
    background-color: lightcyan;
}
input[type='radio']{
    padding: 5px;
    margin: 10px 10px 10px 0;
    border-radius: 7px;
    background-color: lightcyan;
}
textarea{
    width: 12em;
    padding: 5px;
    margin: 10px 10px 10px 0;
    border-radius: 7px;
    background-color: lightcyan;
}
select{
    margin-left: -10px;
    padding: 5px;
    border-radius: 7px;
    margin: 10px 10px 10px 0;
    background-color:  lightcyan;
} 
option{
    padding: 5px;
}
button{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color:  lightcyan;
}
.spec{
    width: 80%;
    height: 290px;
}

