#links-div ul li {
    display:inline-block;
}
.logo{
    background-image:url(../img/logo.png);
    float: left;
    width: 90px;
    height: 90px;
  }
.background{
    background-image:url(../img/fitness.png);
     height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
  }
.image{
    height: 120px;
    width: 100px;
    float: right;
    margin: 10px;
}
.list{
    display: grid !important;

  list-style-position: inside;
}
h1 {
color: black;
font-family: arial, sans-serif;
font-size: 30px;
font-weight: bold;
margin-top: 0px;
margin-bottom: 1px;
    text-align: center;
}
h2 {
color: black;
font-family: arial, sans-serif;
    text-align: center;
    font-style: italic;
}
h3{
    color: white;
}
li{
        font-size: 20px;
    margin-left: 65px;
}
.nav-tabs{
    font-size: 20px;
    margin-left: 65px;
}
#para1{
      font-size: 20px;
    margin-left: 100px;
}
.para2{
      font-size: 20px;
    margin-left: 100px;
}
.bike{
    width: 50%;
    margin: 30px;
}
.cardio{
    font-size: 20px;
    margin-left: 110px;
}
.bikeBackground{
    background-image:url(../img/fitness.png);
     height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    overflow-x: hidden;
  }
.treadmill{
    font-size: 20px;
    margin-left: 185px;
}
.treadmillDetails{
    margin-left: 130px !important;
}
.cardioList{
    font-size: 35px !important;
}
.myh3{
    font-size: 14px;
    color: white;
}
.carouselContainer{
    width: 40% !important;
    height: 60%;
}
.cardioMap{
    width: 100%;
    height: 100%;
    margin-left: 30px;
}
.tableWidth{
    width: 60% !important;
}